
h5, header, blockquote, .presentation, h2,h3, a, ul{
  font-family: 'Josefin Sans', sans-serif;
  color:black;
}

.presentation {
  margin-top:40px;
}

main{
  height:250px;
  width:550px;
  margin:0px 250px 0px 200px;
  line-height: 140%;

}

a{
  text-decoration:none;
  border: 1px solid black;
  padding:10px;
  display:block;
  width: 500px;
  background-color: rgb(255, 0, 179);
}

a:hover{
  color:rgb(255, 0, 179);
  background:yellow;
}

a:visited{
  color:#c203fc;
}

header {
  height:400px;
  width:800px;
  background: center url("./apor_logo_.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  margin:0px 100px 0px 100px;
/*   postiton:relative; */
  display:flex;
  align-items:flex-start;
  /*justify-content:center;*/
  /*background-color: #11cc00;*/
  /*background: center url("./background_image.jpg");*/
}

h1{
  font-size: 25px;
  width:500px;
  font-weight:normal;
  color:rgb(112, 0, 217);
}

.name {
  font-size:45px;
}

h2{
  text-transform: uppercase;
  margin-top:60px;
  margin-bottom:40px;
}

/*
blockquote {
  display:flex;
  background:#293133;
  color:white;
  text-align:left;
  align-items:center;
  font-size: 35px;
  height:100px;
  width:530px;
  margin:0px 0px 0px -30px;
  line-height: 150%;
  position:relative;
  padding-left:20px;
  padding:30px;
}

blockquote::before {
  content: '„';
  font-size: 80px;
  top:-40px;
  left: 0px;
  position:absolute;
}*/

h5{
  font-weight:normal;
}

hr { 
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 5px;
}

body{
  background: center url("./background_image_2.jpg");
  background-size:cover;

}

ul {
  color:rgb(255, 0, 179);
  font-size:20px;
  font-weight: bold;
  list-style: none;
  margin:0px 0px 0px -40px;
}

/*
#email{
  color:rgb(255, 0, 179);
}
*/

#feladat  {
  color:white;
  /*Background-color: white;*/
}

#AporLink {
  text-decoration:none;
  border: none;
  padding:10px;
  display:block;
  width: 500px;
  background-color: transparent;
}


